<div class="jumbotron">
  <h1 class="display-4">School Homepage</h1>
  <p class="lead">
    Select the page you want to visit
  </p>
  <hr class="my-4" />
  <p>
    For managing teachers & students
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/students.html" role="button">Students</a>
    <a class="btn btn-primary btn-lg" href="/teachers.html" role="button">Teachers</a>
  </p>
</div>